#navbarNav {
    justify-content: end;
}

.nav-link {
    color: #764b36;
    font-size: 20px;
}

.nav-item :hover {
    color: #ca9b84;
}

.nav-item :focus {
    color: #ca9b84;
    height: 50px;
    width: 70px;
    border: 1px transparent solid;
    border-radius: 10px;
    background-color: #764b36;
}

#navitem2 :focus {
    color: #ca9b84;
    height: 50px;
    width: 80px;
    border: 1px transparent solid;
    border-radius: 10px;
    background-color: #764b36;
}

#navitem3 :focus {
    color: #ca9b84;
    height: 50px;
    width: 160px;
    border: 1px transparent solid;
    border-radius: 10px;
    background-color: #764b36;
}

#navitem4 :focus {
    color: #ca9b84;
    height: 50px;
    width: 80px;
    border: 1px transparent solid;
    border-radius: 10px;
    background-color: #764b36;
}

#navitem5 :focus {
    color: #ca9b84;
    height: 50px;
    width: 105px;
    border: 1px transparent solid;
    border-radius: 10px;
    background-color: #764b36;
}

#navitem6 :focus {
    color: #ca9b84;
    height: 50px;
    width: 155px;
    border: 1px transparent solid;
    border-radius: 10px;
    background-color: #764b36;
}

.forward-backwards {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    border: 2px solid #764b36;
    background-color: transparent;
    color: #764b36;
    padding: 5px 15px;
    border-radius: 25px;
    text-transform: lowercase;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-left: 20px;
}

.forward-backwards:hover .arrow-left,
.forward-backwards:hover .arrow-right {
    animation: move 0.6s infinite ease-in-out;
}

.arrow-right {
    position: relative;
}

.arrow-right::before {
    content: "";
    display: block;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #764b36;
    border-right: 2px solid #764b36;
    transform: rotate(45deg);
}

.arrow-right::after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 2px;
    background-color: #764b36;
    top: 4px;
    left: -6px;
}

.arrow-left {
    position: relative;
}

.arrow-left::before {
    content: "";
    display: block;
    margin-right: 15px;
    width: 8px;
    height: 8px;
    border-top: 2px solid #764b36;
    border-right: 2px solid #764b36;
    transform: rotate(225deg);
}

.arrow-left::after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #764b36;
    top: 4px;
}

@keyframes move {
    50% {
        transform: translate(2px);
    }
}

.section {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 130px;
    padding: 30px;
    justify-self: center;
}

.productimg {
    height: 600px;
    width: 600px;
    background-color: #ebebeb;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 25px;
    align-content: center;
}

.productimg img {
    border-radius: 20px;
    margin-left: 14px;
}

.details {
    height: 500px;
    width: 500px;
    background-color: #ebebeb;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 25px;
    padding: 20px;
}

.enquiry {
    margin-top: 90px;
    background-color: #764b36;
    color: white;
    height: 60px;
    width: 360px;
    text-align: center;
    align-content: center;
    border-radius: 15px;
}

.product-description {
    background-color: #ebebeb;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 25px;
    width: 1200px;
    padding: 30px;
    justify-self: center;
    justify-content: left;
    margin: 20px;
}

.row{
    justify-content: center;
}

.btn-primary{
    width: 120px;
    background-color: #764b36;
    border: none;
    border-radius: 10px;
}

.btn-primary:hover{
    background-color: #764b36;
}

.card-title{
    color: #764b36;
    font-size: 30px;
}

h4{
    font-size: 20px;
    color: #764b36;
}

.head{
    color: #764b36;
    text-align: center;
    font-size: 70px;
    margin: 30px;
}

.card-hover {
    transition: all 1s ease;
    border-radius: 20px;
}

.card-hover:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
}